Resources:
  StartupSignupsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
files:
  "/var/app/app.config":
    mode: "000444"
    content: |
      DYNAMODB_AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      SNS_AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      QUOTES_TABLE = '`{ "Ref" : "StartupSignupsTable"}`'
      QUOTES_TOPIC = 'Bacon'
      THEME = 'default'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "john.yi@rackspace.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
